{%  extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Connexion</h1>
        <form action="{{ path('security_login') }}" method="post">
            <div class="form_group">
                <input type="text" class="" placeholder="Adress email ..." required name="_username">
            </div>
            <div class="form_group">
                <input type="password" class="" placeholder="Mot de passe ..." required name="_password">
            </div>
            <div class="form_group">
                <button class="btn" type="submit">Connexion</button>
            </div>
        </form>
    </div>
{% endblock %}