{%  extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>inscription</h1>
        {{ form_start(form) }}

        {{ form_errors(form.username) }}
        {{ form_widget(form.username, {'label': 'Nom d\'utilisateur','attr':{'placeholder': 'Nom d\'utilisateur'}}) }}

        {{ form_errors(form.email) }}
        {{ form_widget(form.email, {'label': 'Adresse email','attr':{'placeholder': 'Adresse Email...'}}) }}

        {{ form_errors(form.password) }}
        {{ form_widget(form.password, {'label': 'Mot de passe','attr':{'placeholder': 'Mot de passe'}}) }}

        {{ form_errors(form.confirm_password) }}
        {{ form_widget(form.confirm_password,{'label': 'Confirmation du mot de passe','attr':{'placeholder': 'Répeter le passe'}}) }}

        <button class="btn" type="submit">Inscription</button>
        {{ form_end(form) }}
    </div>
{% endblock %}