<h2 class="header text_h2 center">contact<br>
    <span class="sub_heading">Laissez-moi un message</span></h2>
<div class="row">
    <div class="col l8 offset-l2  s12">
        <div class="col s12 form-contact">
            {{ form_start(form) }}
            <div class="row">
                <div class="input-field col s12 l6">
                    <i class="material-icons prefix">account_circle</i>
                    {{ form_label(form.name) }}
                    {{ form_widget(form.name) }}
                    {{ form_errors(form.name) }}
                </div>
                <div class="input-field col s12 l6">
                    <i class="material-icons prefix">mail</i>
                    {{ form_label(form.email) }}
                    {{ form_widget(form.email) }}
                    {{ form_errors(form.email) }}
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 ">
                    <i class="material-icons prefix">editor</i>
                    {{ form_label(form.message) }}
                    {{ form_widget(form.message, {'attr': {'class': 'materialize-textarea'}}) }}
                    {{ form_errors(form.message) }}
                </div>
            </div>
            <div class="row">
                <div class="col s12 ">
                    {{ form_widget(form.rgpd) }}
                    {{ form_errors(form.rgpd) }}
                </div>
            </div>
            {# Render CSRF token etc .#}
            <div style="display:none">
                {{ form_rest(form) }}
            </div>

            <input type="submit" value="Submit" class="btn btn-contact-submit waves-effect waves-light red darken-1 right">

            {{ form_end(form) }}
        </div>
        {#<form class="col s12 form-contact" action="#" method="post">#}
            {#<div class="input-field col s12 l6 ">#}
                {#<i class="mdi-action-account-circle prefix "></i>#}
                {#<input id="icon_prefix" name="name" type="text" class="validate " required>#}
                {#<label for="icon_prefix" class="">Nom</label>#}
            {#</div>#}
            {#<div class="input-field col s12 l6">#}
                {#<i class="mdi-communication-email prefix "></i>#}
                {#<input id="icon_email" name="email" type="email" class="validate " required>#}
                {#<label for="icon_email" class="">Email</label>#}
            {#</div>#}
            {#<div class="input-field col s12 ">#}
                {#<i class="mdi-editor-mode-edit prefix "></i>#}
                {#<textarea id="icon_prefix2" name="message" class="materialize-textarea "></textarea>#}
                {#<label for="icon_prefix2" class="">Message</label>#}
            {#</div>#}
            {#<div class="input-field col s12 ">#}
                {#<input type="checkbox" name="" id="icon_prefix3" require>#}
                {#<label for="icon_prefix3" class="">En soumettant ce formulaire, j'accepte que les informations saisies dans ce formulaire soient utilisées, pour permettre de#}
                    {#me recontacter.</label>#}
            {#</div>#}

            {#<button class="btn btn-contact-submit waves-effect waves-light red darken-1 right" type="submit">Envoyer#}
            {#</button>#}

        {#</form>#}

    </div>
</div>