<footer id="footer" class="page-footer default_color scrollspy">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Citation du jour : </h5>
                <blockquote class="grey-text text-lighten-4">"Avant de vouloir qu’un logiciel soit réutilisable, il faudrait d’abord qu’il ait été utilisable"
                    <br> — Ralph Johnson</blockquote>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Me suivre :</h5>

                <a class="waves-effect waves-light social-icon github btn" href="https://www.linkedin.com/in/ga%C3%ABtan-boyron-webdesigner/" target="blank">
                    <i class="fa fa-linkedin"></i>
                </a>

                <a class="waves-effect waves-light social-icon github btn" href="https://github.com/LeCuistotduWeb" target="blank">
                    <i class="fa fa-github"></i>
                </a>

                <a class="waves-effect waves-light social-icon github btn" href="https://www.facebook.com/LeCuistotDuWeb/" target="blank">
                    <i class="fa fa-facebook"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="row">
            <a class="white-text" href="{{ path('politique_de_confidentialite') }}">Politique de confidentialité</a> -
            <a class="white-text" href="{{ path('mention_legales') }}">Mentions légales</a>
        </div>
    </div>
</footer>