{% block flash_messages %}
    {% for type, messages in app.session.flashbag.all() %}
        <div class="row alert-box">
        {% for message in messages %}
            <div class="alert alert-{{ type }}" id="messageFlash">
                {#<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>#}
                {{ message | raw }}
            </div>
        {% endfor %}
        </div>
    {% endfor %}
{% endblock %}