<!--Navigation-->
<div class="container-fluid">
    <ul id="mobile-menu" class="side-nav">
        <li class="sidenav-close"><a href="{{ path('portfolio_home') }}" id="logo-container" class="brand-logo-mobile"><img src="{{ asset('../images/logo-cuistotduweb.png') }}" alt="logo le cuistot du web"></a></li>
        <li class="sidenav-close"><a href="{{ path('portfolio_home') }}#about">À propos</a></li>
        <li class="sidenav-close"><a href="{{ path('portfolio_home') }}#work">Réalisations</a></li>
        <li class="sidenav-close"><a href="{{ path('portfolio_home') }}#skill">Services</a></li>
        <li class="sidenav-close"><a href="{{ path('portfolio_home') }}#contact">Contact</a></li>
    </ul>
    <div class="navbar-fixed ">
        <nav id="nav_f" class="">
            <div class="nav-wrapper">
                <div class="container">
                    <a href="{{ path('portfolio_home') }}" id="logo-container" class="brand-logo valign-wrapper left"><img src="{{ asset('images/logo-cuistotduweb2.png') }}" alt="logo le cuistot du web"></a>
                    <a href="#" data-target="mobile-menu" class="button-collapse sidenav-trigger right"><i class="material-icons">menu</i></a>
                    <ul class="right hide-on-med-and-down">
                        <li class="sidenav-close"><a href="{{ path('portfolio_home') }}#about">À propos</a></li>
                        <li class="sidenav-close"><a href="{{ path('portfolio_home') }}#work">Réalisations</a></li>
                        <li class="sidenav-close"><a href="{{ path('portfolio_home') }}#skill">Services</a></li>
                        <li class="sidenav-close"><a href="{{ path('portfolio_home') }}#contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>
<!--Navigation-->