{% extends 'base.html.twig' %}

{% block title %}LeCuistotduWeb | Accueil{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <!--Navigation-->
    <div class="container-fluid">
        <ul id="mobile-menu" class="side-nav">
            <li class="sidenav-close"><a href="/" id="logo-container" class="brand-logo-mobile"><img src="{{ asset('../images/logo-cuistotduweb.png') }}" alt="logo le cuistot du web"></a></li>
            <li class="sidenav-close"><a href="#about">À propos</a></li>
            <li class="sidenav-close"><a href="#work">Réalisations</a></li>
            <li class="sidenav-close"><a href="#skill">Services</a></li>
            <li class="sidenav-close"><a href="#contact">Contact</a></li>
        </ul>
        <div class="navbar-fixed ">
            <nav id="nav_home" class="">
                <div class="nav-wrapper">
                    <div class="container">
                    <a href="/" id="logo-container" class="brand-logo valign-wrapper left"><img src="{{ asset('images/logo-cuistotduweb2.png') }}" alt="logo le cuistot du web"></a>
                    <a href="#" data-target="mobile-menu" class="button-collapse sidenav-trigger right"><i class="material-icons">menu</i></a>
                    <ul class="right hide-on-med-and-down">
                        <li class="sidenav-close"><a href="#about">À propos</a></li>
                        <li class="sidenav-close"><a href="#work">Réalisations</a></li>
                        <li class="sidenav-close"><a href="#skill">Services</a></li>
                        <li class="sidenav-close"><a href="#contact">Contact</a></li>
                    </ul>
                    </div>
                    {#<button data-target="slide-out"  class=" sidenav-trigger btn btn-flat btn-large white-text  right"><i class="material-icons">menu</i></button>#}
                </div>
            </nav>
        </div>
    </div>
    <!--Navigation-->

    {#messageFlash#}
    {{ include('portfolio/_messagesFlash.html.twig') }}
    {#messageFlash#}

    <!--index banner-->
    <section class="section no-pad-bot" id="index-banner">
        <div class="container">
            <h1 class="text_h center header cd-headline letters type">
                <span>I Love</span>
                <span class="cd-words-wrapper waiting">
                    <b class="is-visible">creating</b>
                    <b>designing</b>
                    <b>developing</b>
                </span>
            </h1>
        </div>
    </section>

    <!-- About-->
    <section id="about" class="section scrollspy valign-wrapper">
        <div class="container">
            <div class="row">
                <div class="col s12 center m8 l6 offset-m2 offset-l3">
                    <h2 class="header  text_h2 ">About me<br>
                        <span class="sub_heading">A propos de moi</span>
                    </h2>
                </div>
            </div>
            <div class="row valign-wrapper">
                <div class="col s12 m6 l6 hide-on-small-only">
                    <div class="img-duo_content">
                        <img src="{{ asset('images/gaetan-boyron-photo.jpg') }}" alt="" class="img-duo_item" width="350">
                        <img src="{{ asset('images/gaetan-boyron-profile.jpg') }}" alt="" class="img-duo_item-up" width="350">
                    </div>
                </div>
                <div class="col s12 m6 l6">
                    <p class="text-justify">
                        Animé par l’envie de travailler en équipe et de développer ma créativité au quotidien, j’ai commencé mon chemin professionnel dans l’univers de la restauration. Si ces valeurs sont toujours primordiales pour moi, j’ai aujourd’hui décidé de me reconvertir et de vivre de ma passion : le monde du digital.
                    </p>

                    <p class="text-justify"> Toujours en quête de nouvelles compétences et de projets, tant en design
                        qu’en développement Web, j’ai suivi une première année de formation Web Designer au sein de l’Ecole ARIES de Lyon. J’ai ensuite décidé de poursuivre mon cursus en développement Web à travers la plateforme Openclassroom.
                    </p>
                    <button class="downlaod-cv btn col s12 l5 waves-effect waves-light"><a href="{{ asset('pdf/cv-gaetan-boyron.pdf') }}" target="_blank" class="white-text">Mon CV</a></button>
                    <button class="downlaod-book btn col s12 l5 offset-l1 waves-effect waves-light"><a href="{{ asset('pdf/book-gaetan-boyron.pdf') }}" target="_blank" class="white-text">Mon Book</a></button>
                </div>
            </div>
        </div>
    </section>

    <!--Work-->
    <section class="section scrollspy valign-wrapper" id="work">
        <div class="container">
            <h2 class="header text_h2 center">Portfolio<br>
                <span class="sub_heading"> mes Réalisations</span>
            </h2>
            {#<div class="row">#}
                {#<ul>#}
                    {#<li><a href="#!" class="col text_b">Tout afficher</a></li>#}
                    {#{% for category in  categories %}#}
                        {#<li><a href="#{{ category.name }}" class="col text_b">{{ category.name }}</a></li>#}
                    {#{% endfor %}#}
                {#</ul>#}
            {#</div>#}
            <div class="row">
                {% for work in works %}
                <!-- project -->
                <div class="col s12 m6 l4">
                    <div class="card hoverable project">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img src="{{ vich_uploader_asset(work.image, 'imageFile') }}" class="activator responsive-img" alt="{{ asset(work.image.alt) }}">
                        </div>
                        <div class="card-content">
                            <h3 class="card-title activator grey-text text-darken-4">{{ work.title }}<i class="mdi-navigation-more-vert right"></i></h3>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">{{ work.title }}<i class="mdi-navigation-close right"></i></span>
                            {{ work.excerpt }}
                            <ul class="tag-list">Tag :
                                {% for tag in  work.tags %}
                                    <li class="tag red white-text">{{ tag.name }}</li>
                                {% endfor %}
                            </ul>
                            <p><a href="{{ path('show_project', {'id': work.id}) }}" class="red-text">Voir le Projet</a></p>
                        </div>
                    </div>
                </div>
                <!-- /project -->
                {% endfor %}

            </div>
            {#<!-- pagination -->#}
            {#<ul class="pagination center">#}
                {#<li class="hide"><a href="#!"><i class="material-icons">chevron_left</i></a></li>#}
                {#<li class="active"><a href="#!">1</a></li>#}
                {#<li class="waves-effect"><a href="#!">2</a></li>#}
                {#<li class="waves-effect"><a href="#!">3</a></li>#}
                {#<li class="waves-effect "><a href="#!">4</a></li>#}
                {#<li class="waves-effect"><a href="#!">5</a></li>#}
                {#<li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>#}
            {#</ul>#}
            {#<!-- /pagination -->#}
        </div>
        </div>
    </section>

    <!-- skill -->
    <section class="section valign-wrapper scrollspy" id="skill">
        <div class="container">
            <div class="row">
                <h2 class="center header text_h2">Services<br>
                    <span class="sub_heading">MES COMPÉTENCES</span>
                </h2>
            </div>
            <div class="row">
                <div  class="col s12 m12 l4">
                    <div class="center promo promo-example">
                        <i class="material-icons">code</i>
                        <h5 class="promo-caption">Développement Web</h5>
                        <p class="light center">HTML5, CSS3, JS, JQuery, Bootstrap, Sass. PHP , SQL, ,Architecture MVC, Git, Symofny 3/4</p>
                    </div>
                </div>
                <div class="col s12 m12 l4">
                    <div class="center promo promo-example">
                        <i class="material-icons">brush</i>
                        <h5 class="promo-caption">Création graphique</h5>
                        <p class="light center">Création d’identité visuelle. Design d’interface, expérience utilisateur (UI/UX design). Design d’application mobile, responsive design.</p>
                    </div>
                </div>
                <div class="col s12 m12 l4">
                    <div class="center promo promo-example">
                        <i class="material-icons">desktop_mac</i>
                        <h5 class="promo-caption">Webdesign</h5>
                        <p class="light center">Design d’interface, expérience utilisateur (UI/UX design). Design d’application mobile, responsive design.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- contact -->
    <section class="section scrollspy valign-wrapper" id="contact">
        <div class="container">
            <!-- contact -->
            {{ include('portfolio/_contact.html.twig') }}
            <!-- /contact -->
        </div>
    </section>

    <!-- btn scroll to top -->
    <div class="fixed-action-btn btn-scrolltop" id="scrolltop">
        <a href="#top" class="btn-floating btn-large red ">
            <i class="large material-icons">arrow_upward</i>
        </a>
    </div>
    <!-- /btn scroll to top -->

    <!-- Footer -->
    {{ include('portfolio/_footer.html.twig') }}
    <!-- /Footer -->

    {% block javascripts %}
        {{ parent() }}
    {% endblock %}
{% endblock %}

