{% extends 'base.html.twig' %}

{% block title %}LeCuistotduWeb | politique de confidentialité{% endblock %}

{% block body %}
    <!--Navigation-->
    {{ include('portfolio/_navbar.html.twig') }}
    <!--Navigation-->

    <section id="section-page" class="section scrollspy valign-wrapper">
        <div class="container">
            <div class="col s12 center m8 offset-m2">
                <h2 class="header  text_h2 ">légalité<br>
                    <span class="sub_heading">Politique de confidentialité</span>
                </h2>
            </div>
            <div class="col s12 m6 offset-m2">
                <h3>Qui suis-je ?</h3>
                <p>
                    <strong>Propriétaire</strong> : BOYRON Gaëtan – – 7 ALLÉE DES CHANTERELLES 26250 LIVRON SUR DRÔME</p>
                <p>
                    <strong>Responsable publication</strong> : Boyron Gaëtan – contact@gaetanboyron.fr</p>
                <p>
                    <strong>Adresse du site Web :</strong> https://gaetanboyron.fr.</p>
                <p>&nbsp;</p>
                <h3>Utilisation des données personnelles collectées</h3>
                <h4>Commentaires</h4>
                <p>Quand vous laissez un commentaire sur notre site web, les données inscrites dans le formulaire de commentaire, mais aussi
                    votre adresse IP et l’agent utilisateur de votre navigateur sont collectés pour nous aider à la détection des commentaires
                    indésirables.</p>
                <p>Une chaîne anonymisée créée à partir de votre adresse de messagerie (également appelée hash) peut être envoyée au service
                    Gravatar pour vérifier si vous utilisez ce dernier. Les clauses de confidentialité du service Gravatar sont disponibles
                    ici : https://automattic.com/privacy/. Après validation de votre commentaire, votre photo de profil sera visible publiquement
                    à coté de votre commentaire.</p>
                <p>&nbsp;</p>
                <h4>Formulaires de contact</h4>
                <p>Les informations personnelles recueillis tels que votre nom, prénom et adresse email seront utilisées seulement pour me permettre
                    de vous recontacter.</p>
                <p>&nbsp;</p>
                <h4>Cookies</h4>
                <p>Si vous déposez un commentaire sur notre site, il vous sera proposé d’enregistrer votre nom, adresse de messagerie et site
                    web dans des cookies. C’est uniquement pour votre confort afin de ne pas avoir à saisir ces informations si vous déposez
                    un autre commentaire plus tard. Ces cookies expirent au bout d’un an.</p>
                <p>Si vous avez un compte et que vous vous connectez sur ce site, un cookie temporaire sera créé afin de déterminer si votre
                    navigateur accepte les cookies. Il ne contient pas de données personnelles et sera supprimé automatiquement à la fermeture
                    de votre navigateur.</p>
                <p>Lorsque vous vous connecterez, nous mettrons en place un certain nombre de cookies pour enregistrer vos informations de connexion
                    et vos préférences d’écran. La durée de vie d’un cookie de connexion est de deux jours, celle d’un cookie d’option d’écran
                    est d’un an. Si vous cochez « Se souvenir de moi », votre cookie de connexion sera conservé pendant deux semaines. Si
                    vous vous déconnectez de votre compte, le cookie de connexion sera effacé.</p>
                <p>En modifiant ou en publiant un article, un cookie supplémentaire sera enregistré dans votre navigateur. Ce cookie ne comprend
                    aucune donnée personnelle. Il indique simplement l’identifiant de l’article que vous venez de modifier. Il expire au
                    bout d’un jour.</p>
                <p>&nbsp;</p>
                <h4>Contenu embarqué depuis d’autres sites</h4>
                <p>Les articles de ce site peuvent inclure des contenus intégrés (par exemple des vidéos, images, articles…). Le contenu intégré
                    depuis d’autres sites se comporte de la même manière que si le visiteur se rendait sur cet autre site.</p>
                <p>Ces sites web pourraient collecter des données sur vous, utiliser des cookies, embarquer des outils de suivis tiers, suivre
                    vos interactions avec ces contenus embarqués si vous disposez d’un compte connecté sur leur site web.</p>
                <p>&nbsp;</p>
                <h4>Statistiques et mesures d’audience</h4>
                <p>Ce site utilise Google Analytics afin d&rsquo;analyser votre parcours sur mon site, ce qui me permettra par la suite de vous
                    proposer des améliorations afin de vous donner une meilleur expérience de navigation sur le site.</p>
                <p>&nbsp;</p>
                <h3>Durées de stockage de vos données</h3>
                <p>Si vous laissez un commentaire, le commentaire et ses métadonnées sont conservés indéfiniment. Cela permet de reconnaître
                    et approuver automatiquement les commentaires suivants au lieu de les laisser dans la file de modération.</p>
                <p>Pour les utilisateurs et utilisatrices qui s’enregistrent sur notre site (si cela est possible), nous stockons également
                    les données personnelles indiquées dans leur profil. Tous les utilisateurs et utilisatrices peuvent voir, modifier ou
                    supprimer leurs informations personnelles à tout moment (à l’exception de leur nom d’utilisateur·ice). Les gestionnaires
                    du site peuvent aussi voir et modifier ces informations.</p>
                <p>&nbsp;</p>
                <h3>Les droits que vous avez sur vos données</h3>
                <p>Si vous avez un compte ou si vous avez laissé des commentaires sur le site, vous pouvez demander à recevoir un fichier contenant
                    toutes les données personnelles que nous possédons à votre sujet, incluant celles que vous nous avez fournies. Vous pouvez
                    également demander la suppression des données personnelles vous concernant. Cela ne prend pas en compte les données stockées
                    à des fins administratives, légales ou pour des raisons de sécurité.</p>
                <p>&nbsp;</p>
                <h3>Transmission de vos données personnelles</h3>
                <p>Les commentaires des visiteurs peuvent être vérifiés à l’aide d’un service automatisé de détection des commentaires indésirables.</p>
                <p>&nbsp;</p>
                <h3>Informations de contact</h3>
                <p>contact@gaetanboyron.fr</p>
            </div>
        </div>
    </section>

    <!-- btn scroll to top -->
    <div class="fixed-action-btn btn-scrolltop">
        <a href="#top" class="btn-floating btn-large red">
            <i class="large material-icons">arrow_upward</i>
        </a>
    </div>
    <!-- /btn scroll to top -->

    <!-- Footer -->
    {{ include('portfolio/_footer.html.twig') }}
    <!-- /Footer -->
{% endblock %}