{% extends 'base.html.twig' %}

{% block title %}LeCuistotduWeb | {{ work.title }}{% endblock %}

{% block body %}
    <!--Navigation-->
    {{ include('portfolio/_navbar.html.twig') }}
    <!--Navigation-->

    <!--Qui suis-je ?-->
    <section id="section-page" class="section scrollspy valign-wrapper">
        <div class="container">
            <div class="col s12 center m8 offset-m2">
                <h2 class="header  text_h2 ">portfolio<br>
                    <span class="sub_heading">{{ work.title }}</span>
                </h2>
            </div>
            <div class="col s12 m6 offset-m2">
                {{ work.content|raw }}

                <ul class="tag-list">Tag :
                    {% for tag in  work.tags %}
                        <li class="tag red white-text">{{ tag.name }}</li>
                    {% endfor %}
                </ul>
            </div>

            <hr>

            <div class="col s12 m6 offset-m2 project-navigation">
                <button class="btn left">Projet précédent</button>
                <button class="btn right">Projet suivant</button>
            </div>
        </div>
    </section>

    <!-- btn scroll to top -->
    <div class="fixed-action-btn btn-scrolltop">
        <a href="#top" class="btn-floating btn-large red">
            <i class="large material-icons">arrow_upward</i>
        </a>
    </div>
    <!-- /btn scroll to top -->

    <!-- Footer -->
    {{ include('portfolio/_footer.html.twig') }}
    <!-- /Footer -->
{% endblock %}