
/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IiIsImZpbGUiOiJjc3MvYXBwLmNzcyIsInNvdXJjZVJvb3QiOiIifQ==*/
body p {
  font-family: medium-content-sans-serif-font,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  letter-spacing: 0;
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
  color: rgba(0,0,0,.84);
  font-size: 20px;
  line-height: 1.4;
}
.default_color{background-color: #545454 !important}

.default_color_text{color: #545454 !important}

/*messagesFlash*/
.alert-box{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 70px auto;
  max-width: 900px;
  z-index: 999;
}
.alert{
  position: relative;
  margin-bottom: 20px;
  width: 100%;
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 4px;
  text-align: center;
}
.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
/*messagesFlash*/

.icon-block {
  padding: 0 15px;
}

.btn-floating {
  border-radius: 2px;
}

#index-banner {
  min-height: 100vh;
  /* max-height: 864px; */
  position: relative;
  background-color: #545454;
  background-image: url(../../images/background-cuistot-du-web.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;

  margin-top: -65px;
}

#contact{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e5e5e5+100;White+3D */

  background: rgb(255, 255, 255);
  /* Old browsers */

  background: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 1) 0%, rgba(229, 229, 229, 1) 100%);
  /* FF3.6-15 */

  background: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 1) 0%, rgba(229, 229, 229, 1) 100%);
  /* Chrome10-25,Safari5.1-6 */

  background: linear-gradient(135deg, rgba(255, 255, 255, 1) 0%, rgba(229, 229, 229, 1) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */

  background-image: url("../../images/photo-background-contact.jpg");
  background-position: center;
  background-origin: content-box;
  background-size: cover;
}

#contact .text_h2 {
  color: rgba(255, 255, 255, 0.199);
}

#contact .text_h2 span.sub_heading {
  color: #ffffff;
}

#contact .form-contact{
  padding: 30px;
  border: #282828 solid 2px;
  background: #fff;
}
#contact .btn-contact-submit {
  margin-top: 35px;
}
#nav_f{
  box-shadow: none !important;
  -webkit-box-shadow:none !important;
  background-color: #545454;
  transition-duration: 0.5s;
}

#nav_home{
  box-shadow: none !important;
  -webkit-box-shadow:none !important;
  transition-duration: 0.5s;
background-color: transparent;
}

.section{min-height: 80vh;}


#work{
  background: rgb(255, 255, 255);
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 1) 0%, rgba(229, 229, 229, 1) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 1) 0%, rgba(229, 229, 229, 1) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba(255, 255, 255, 1) 0%, rgba(229, 229, 229, 1) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5', GradientType=1);
}
.text_h {
  padding: 15% 0;
  font-size: 6.0em;
  font-weight: 100;
  color:white;
  margin-top: 20%;
}

.brand-logo{
  position: absolute;
  color: #fff;
  display: inline-block;
  font-size: 2.1rem;
  font-style: normal;
  font-weight: 400;
  padding: 0;
  letter-spacing: 3px;
}
.brand-logo img{
  min-width: 200px;
  max-width: 300px;
}
.brand-logo-mobile img {
  width: 100%;
}

.text_h2 {
  font-weight: 600;
  margin-bottom: 4%;
  position: relative;
  font-size: 8em;
  text-transform: uppercase;
  width: 100%;
  color: rgba(40, 40, 40, 0.1);
  line-height: 60%;
}
.text_h2 span.sub_heading {
  position: absolute;
  top: 0.5em;
  width: 100%;
  left: 0;
  font-size: 0.4em;
  color: #282828;
}
.text_h2::after {
  content: '';
  position: relative;
  display: inline-block;
  top: 25px;
  width: 1em;
  height: 8px;
  background-color: red;
}
.text-justify{
  text-align: justify;
}

.img-perso{
  max-width: 400px;
  min-width: 250px;
  width: 100%;
}
.span_h2 {font-weight: 300;color: #545454;}

.text_b{color: #545454}
.text_b:hover{transition-duration: 0.3s;color: #ff0000;}

.in{font-weight: 400 !important; font-style: normal !important;}

.promo i {
  color: #545454;
  font-size: 6rem;
  display: block;
}
.card-content a {color: #545454;}
.card-title {margin: 0;}

.card-content a:hover {color: #545454;}

.tag {
  border: none;
  border-radius: 2px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  padding: 0 16px;
  text-transform: uppercase;
  text-align: center;
  margin: 2px;
  font-size: 0.8em;
}

.img-duo_content {
  position: relative;
  min-height: 400px;
  min-width: 400px;
  width: 100%;
  height: auto;
  max-height: 525px;
  max-width: 525px;
  margin: 20px auto;
}

.img-duo_item {
  position: absolute;
  width: 50%;
  height: auto;
  top: 0;
  left: 0;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30),
  0 15px 12px rgba(0, 0, 0, 0.22);
}

.img-duo_item-up {
  position: absolute;
  width: 50%;
  height: auto;
  top: 30%;
  left: 25%;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30),
  0 15px 12px rgba(0, 0, 0, 0.22);
}

.side-nav li>a {
  color: rgba(0,0,0,0.87);
  display: block;
  font-size: 1.5em;
  font-weight: 500;
  height: 48px;
  line-height: 6em;
}

nav .nav-wrapper {
  padding: 0 60px;
}

.text_pink{color:#EF9A9A;}

nav ul a {
  font-size: 1.2rem;
  color: #FFF;
  letter-spacing: 2px;
  display: block;
  font-weight: 300;
  padding: 0 15px;
}
nav ul li:hover,
nav ul li.active {
  border-bottom: #ff0000 3px solid;
}
.side-nav{
  z-index: 999;
}
.sidenav-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 120vh;
  background-color: rgba(0,0,0,0.5);
  z-index: 997;
  will-change: opacity;
}

.project-navigation {
  margin: 20px auto;
}

.cd-headline.type .cd-words-wrapper {
  vertical-align: top;
  overflow: hidden;
}

.cd-headline.type .cd-words-wrapper::after {
  /* vertical bar */
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 90%;
  width: 1px;
  background-color: #aebcb9;
}

.cd-headline.type .cd-words-wrapper.waiting::after {
  -webkit-animation: cd-pulse 1s infinite;
  -moz-animation: cd-pulse 1s infinite;
  animation: cd-pulse 1s infinite;
}
.cd-headline.type .cd-words-wrapper.selected {
  background-color: #FFF;
}

.cd-headline.type .cd-words-wrapper.selected::after {
  visibility: hidden;
}

.cd-headline.type .cd-words-wrapper.selected b {
  color: #545454;
}

.cd-headline.type b {
  visibility: hidden;
}

.cd-headline.type b.is-visible {
  visibility: visible;
}

.cd-headline.type i {
  position: absolute;
  visibility: hidden;
}
.cd-headline.type i.in {
  position: relative;
  visibility: visible;
}

@-webkit-keyframes cd-pulse {
  0% {
    -webkit-transform: translateY(-50%) scale(1);
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-50%) scale(0.9);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(-50%) scale(0);
    opacity: 0;
  }
}
@-moz-keyframes cd-pulse {
  0% {
    -moz-transform: translateY(-50%) scale(1);
    opacity: 1;
  }
  40% {
    -moz-transform: translateY(-50%) scale(0.9);
    opacity: 0;
  }
  100% {
    -moz-transform: translateY(-50%) scale(0);
    opacity: 0;
  }
}

@keyframes cd-pulse {
  0% {
    -webkit-transform: translateY(-50%) scale(1);
    -moz-transform: translateY(-50%) scale(1);
    -ms-transform: translateY(-50%) scale(1);
    -o-transform: translateY(-50%) scale(1);
    transform: translateY(-50%) scale(1);
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-50%) scale(0.9);
    -moz-transform: translateY(-50%) scale(0.9);
    -ms-transform: translateY(-50%) scale(0.9);
    -o-transform: translateY(-50%) scale(0.9);
    transform: translateY(-50%) scale(0.9);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(-50%) scale(0);
    -moz-transform: translateY(-50%) scale(0);
    -ms-transform: translateY(-50%) scale(0);
    -o-transform: translateY(-50%) scale(0);
    transform: translateY(-50%) scale(0);
    opacity: 0;
  }
}

@media only screen and (max-width: 480px) {
  .text_h {
    padding: 4% 0;
    font-size: 5em;
    font-weight: 100;
    color: white;
  }
}

input, textarea {
  border-bottom: 1px solid #fff;
}

nav a.button-collapse {
  position: absolute;
  right: 20px;
}

.card-avatar .waves-effect {
  text-align: center;
  margin-top: 20px;
}

.card-avatar img {
  height: 150px;
  width: 150px;
  border-radius: 75px;
}

.card-avatar .card-content {
  text-align: center;
}

.card .card-content p {
  margin: 15px 0px;
}

.card-avatar .card-content i {
  font-size: 1.5rem;
}

.card-avatar .card-content .card-title {
  line-height: 30px !important;
}

.parallax-container {
  max-height: 400px;
}

footer.page-footer {
  margin-top: 0px !important;
}


/* media queries */
@media screen and (max-width: 600px){
  .text_h2{
    font-size: 4em;
  }

  .brand-logo img {
    max-width: 200px;
  }

  .downlaod-cv,
  .downlaod-book {
    margin-top: 20px;
  }
}

/* media queries */
@media screen and (max-width: 992px){

  .brand-logo {
    margin-left: 20px;
  }

  .downlaod-cv,
  .downlaod-book {
    margin-top: 10px;
  }
}
/* media queries */