{# templates/emails/registration.html.twig #}

Email : {{ data.email }}<br>
De : {{ data.name }}
<br>
<br>
<br>

message :<br>
{{ data.message }}

<p>Cet e-mail a été envoyé via le formulaire de contact de LeCuistotduWeb (http://gaetanboyron.fr)</p>
