<form method="post" action="{{ path('work_delete', {'id': work.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ work.id) }}">
    <button class="btn">Delete</button>
</form>