{% extends 'work/base.html.twig' %}

{% block title %}Edit Work{% endblock %}

{% block body %}
    <div class="container">
        <h1>Edit Work</h1>

        {{ include('work/_form.html.twig', {'button_label': 'Update'}) }}

        <a href="{{ path('work_index') }}" class="btn">back to list</a>

        {{ include('work/_delete_form.html.twig') }}
    </div>
{% endblock %}