{% extends 'work/base.html.twig' %}

{% block title %}Work index{% endblock %}

{% block body %}

    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Logo</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                {% if not app.user %}
                <li><a href="{{ path('security_login') }}">Connexion</a></li>
                {% else %}
                <li><a href="{{ path('security_logout') }}">Deconnexion</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div class="container">
        <h1>Work index</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Miniature</th>
                    {#<th>extrait</th>#}
                    <th>Etat</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for work in works %}
                <tr>
                    <td>{{ work.id }}</td>
                    <td>{{ work.title }}</td>
                    <td><img src="{{ work.image.url }}" alt="" width="150"></td>
                    {#<td>{{ work.excerpt }}</td>#}
                    <td>{{ work.published ? 'Publié' : 'Brouillon' }}</td>
                    <td>
                        <a href="{{ path('work_show', {'id': work.id}) }}" class="btn">show</a>
                        <a href="{{ path('work_edit', {'id': work.id}) }}" class="btn">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('work_new') }}" class="btn">Create new</a>
    </div>
{% endblock %}