{% extends 'work/base.html.twig' %}

{% block title %}New Work{% endblock %}

{% block body %}
    <div class="container">
        <h1>Create new Work</h1>

        {{ include('work/_form.html.twig') }}
        <br>
        <a href="{{ path('work_index') }}" class="btn">back to list</a>
    </div>
{% endblock %}