{% extends 'work/base.html.twig' %}

{% block title %}Work{% endblock %}

{% block body %}
    <div class="container">
        <h1>Work</h1>

        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ work.id }}</td>
                </tr>
                <tr>
                    <th>Title</th>
                    <td>{{ work.title }}</td>
                </tr>
                <tr>
                    <th>Content</th>
                    <td>{{ work.content }}</td>
                </tr>
                <tr>
                    <th>Catagories</th>
                    <td>{% for category in work.categories %}
                            <span>{{ category.name }}</span>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <th>Tags</th>
                    <td>{% for tag in work.tags %}
                            <span>{{ tag.name }}</span>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <th>published date</th>
                    <td>{{ work.publishedAt| date}}</td>
                </tr>
                <tr>
                    <th>update date</th>
                    <td>{{ work.updatedAt| date}}</td>
                </tr>
                <tr>
                    <th>Published</th>
                    <td>{{ work.published ? 'Yes' : 'No' }}</td>
                </tr>
                <tr>
                    <th>Image</th>
                    <td><img src="{{ work.image.url}}" alt=""></td>
                </tr>
            </tbody>
        </table>

        <a href="{{ path('work_index') }}" class="btn">back to list</a>

        <a href="{{ path('work_edit', {'id': work.id}) }}" class="btn">edit</a>

        {{ include('work/_delete_form.html.twig') }}
    </div>
{% endblock %}